html{
  color: white;
  font-family: Helvetica;
  font-size: 18px;
  text-align: center;
}
.page_container{
  max-width: 960px;
  margin: 0 auto;
}

.logo_flexbox{
  display: inline-flex;
  align-items: center;
  background-color: black;
  width: 100%;
}

.logo_flexbox img{
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.logo_flexbox span{
  padding: 0.66rem 0;
}

.header_background_box{
  display: flex;
  height: 25rem;
  font-size: 2rem;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  justify-content: flex-start;
}

.header_text_box{
  background-color: black;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  width: 20rem;
  margin-top: 9rem;
  margin-left: 6rem;
  padding-left: 3rem;
  margin-bottom: 4rem;
}

.header_text_box p{
  padding-top: 2rem;
  padding-bottom: 0.25rem;
}

.main_navbar{
  display: inline-flex;
  width: 100%;
  background-color: red;
  justify-content: center;
}

.mobile_nav{
  display: none;
}

.main_navbar p{
  padding: 0.75rem 2rem;
}

.store_items_box{
  margin-top: 3rem;
  display: flex;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.mobile_store_items_box{
  display: none;
}

.store_item{
  display: flex;
  flex-direction: column;
  width: 30%;
  border: solid 4px black;
  margin: auto;
}
.store_item img{
  height: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.item_name{
  background-color: black;
}

.item_name p{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.location_hour_box{
  display: flex;
  margin-top: 3rem;
  margin-bottom: 4rem;
  align-content: center;
  justify-content: space-around;
}

.location_hour_item{
  align-content: center;
  text-align: left;
  width: 35%;
  background-color: black;
}

.location_hour_item p{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.location_hour_item .info{
  color: black;
  text-align: left;
}

.info{
  background-color: white;
}

footer{
  display: flex;
  height: 5rem;
  text-align: left;
  background-color: black;
  align-items:center;
}

.copyright_info{

  margin: auto;
}

div{
  border: solid 1px white;
}

@media only screen and (max-width:1024px){
  .main_navbar{
    display: none;
  }

  .header_text_box{
    font-size: 1.5rem;
    margin-top: 7rem;
    margin-left: 4rem;
    padding-left: 1rem;
    padding-bottom: 3rem;
    margin-bottom: auto;
  }

  .mobile_nav{
    display: flex;
    justify-content: center;
    background-color: red;
    margin: auto;
  }

  .mobile_nav p{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .store_items_box{
    display: none;
  }

  .mobile_store_items_box{
    display: flex;
    margin-top: 3rem;
    width: 100%;
    justify-content: space-between;
  }

  .mobile_store_item{
    width: 47%;
    border: solid 4px black;
  }

  .mobile_store_item img{
    height: 9rem;
  }

  .location_hour_box{
    justify-content: space-between;
  }

}

@media only screen and (max-width:470px){

  .header_background_box{
    height: 15rem;
  }

  .header_text_box{
    font-size: 1rem;
    width: 100%;
    margin-bottom: 5px;
  }

  .header_text_box p{
    padding-top: 1rem;
    padding-left: 2rem;
  }

  .header_text_box h1{
    padding-left: 2rem;
  }

}
